@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 1. Reset */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

/* 2. General Styling */
:root {
    /* colors */
    --light: #fffaf1;
    --dark: #000000;
    --accent: #c0e205;

    /* fonts */
    --primary-ff: 'Montserrat', sans-serif;
}

body {
    background-color: var(--light);
    font-family: var(--primary-ff);
}

form input {
    display: block;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 5rem;
    text-transform: lowercase;
    font-style: italic;
    text-align: right;
}

h3 {
    font-size: 3rem;
    display: block;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
}

h4 {
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 700;
}

h4 > span {
    font-weight: 400;
    font-style: italic;
}

p {
    margin: 10px auto;
}

li {
    list-style: none;
}

.fixed {
    position: fixed;
}

@media only screen and (max-width:770px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
        text-align: left;
    }

    h3 {
        font-size: 2rem;
    }
}

/* Sections */
section {
    height: 100vh;
    padding: 0 4rem;
}

section:nth-child(odd) {
    background-color: var(--light);
    color: var(--dark)
}

section:nth-child(even) {
    background-color: var(--dark);
    color: var(--light)
}

section ul li {
    margin: 10px;
}

section#about,
section#skills,
section#contact {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

section#projects {
    padding: 0;
    display: flex;
    align-items: center;
}

.column {
    padding: 2rem;
}

.stacking-slide {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
}

@media only screen and (max-width:770px) {
    section {
        grid-template-columns: 1fr;
    }

    .column.left {
        align-self: end
    }
    
    .column.right {
        align-self: start
    }

    ul {
        text-align: left;
    }
}

/* 3. Navbar */
nav {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
    z-index: 10;
    background-color: var(--light)
}

nav ul li {
    display: inline-block;
    font-weight: 700;
    margin: 0 10px;
}

nav ul li a {
    padding: 5px 10px;
}

nav ul li a:hover {
    color: var(--accent);
    background-color: var(--dark);
}

/* 4. Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 5. About */

/* 6. Projects */
.project-background {
    width: 100%;
    transition: all 1s;
}

.project-background.shrink {
    width: 0%;
}

.project-panel {
    width: 100%;

    position: relative;
    height: 100%;
    background-color: antiquewhite;
}

.section-title {
    transition: all 0.5s;
}

.section-title.shrink {
    transform: translateX(-1000px);
}

/* 7. Skills */
.list-heading {
    font-weight: 700;
    margin-top: 20px;
}

/* 8. Contact */



.bg {
    background-color: red;
}